/* Removing Default Style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  border: 1px solid red;
  margin: 10px auto 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* Box Style */
.col {
  margin: 10px;
  padding: 10px;
  border: 1px solid blue;
  width: 30%;
}
.col p,
h2 {
  margin: 10px 0px;

  text-align: justify;
}
.col img {
  width: 100%;
  display: block;
}

/* Optional Button */
.full-width-btn {
  display: block;
  width: 100%;
  padding: 16px;
  text-align: center;

  color: #ffffff !important; /* force text color */

  text-decoration: none;
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-weight: bold;

  border: 2px solid #0056b3;
  border-radius: 8px;

  cursor: pointer;
}

.full-width-btn:hover {
  background: red;
  color: #ffffff;
}
a {
  color: Black;
}
a:hover {
  color: white;
}
