/* Removing Default Style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Container Style */
.container {
  width: 90vw;
  border: 1px solid red;
  margin: 50px auto 0px;
}

/* Row Style */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Box Style */
.col {
  margin: 10px;
  padding: 10px;
  border: 1px solid blue;
  width: 45%;
}
.col button {
  margin: 10px 10px 10px 10px;
  display: inline-block;
  width: 95%;
  text-align: right;
}

.col button:hover {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  background-color: red;
}

.col img {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  display: block;
}

/* Optional Button */
.full-width-btn {
  display: block;
  width: 100%;
  padding: 16px;
  text-align: center;

  color: #ffffff !important; /* force text color */

  text-decoration: none;
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-weight: bold;

  border: 2px solid #0056b3;
  border-radius: 8px;

  cursor: pointer;
}

.full-width-btn:hover {
  background: red;
  color: #ffffff;
}
a {
  color: Black;
}
a:hover {
  color: white;
}
